Repository posssson/SmartSpin2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-validate-changelog, docker-clang-format, docker-cpplint, docker-piocheck

docker-validate-changelog:
  name: validate-changelog
  description: Validate the `CHANGELOG.md` file
  pass_filenames: false
  language: docker_image
  entry: kadaan/parse_a_changelog:latest

docker-clang-format:
  name: clang-format
  description: Run `clang-format` against C/C++ header and source files in Docker container
  language: docker_image
  entry: daverona/pre-commit-cpp:0.8.0 clang-format -i -style=file

docker-cpplint:
  name: cpplint
  description: Run `cpplint` against C/C++ header and source files in Docker container
  language: docker_image
  entry: daverona/pre-commit-cpp:0.8.0 cpplint

docker-piocheck:
  name: piocheck
  description: Run `pio check` against C/C++ source files in Docker container
  language: docker_image
  pass_filenames: false
  entry: kadaan/platformio_esp32:latest check

Delete .idea/libraries/GERBER_SmartSpin2k.xml
  .idea/libraries/GERBER_SmartSpin2k.xml
Due: none

Delete .idea/libraries/GERBER_SmartSpin2k_Panelized.xml
  .idea/libraries/GERBER_SmartSpin2k_Panelized.xml
Due: none

Implemented read and write functionality for ERG mode if it is enabled.
  .idea/.gitignore
  .idea/SmartSpin2k.iml
  .idea/libraries/GERBER_SmartSpin2k.xml
  .idea/libraries/GERBER_SmartSpin2k_Panelized.xml
  .idea/libraries/SmartSpin2k_Panelized_backups.xml
  .idea/libraries/SmartSpin2k_backups.xml
  .idea/libraries/Universal_Board_Side_Mount_2020_12_20.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  src/BLE_Custom_Characteristic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

updated comments, reverted baud change (in favor of other PR)
  CHANGELOG.md
  include/BLE_Custom_Characteristic.h
  platformio.ini
  src/Main.cpp
Due: docker-validate-changelog, docker-clang-format, docker-cpplint, docker-piocheck

Added a final test to check if ERG mode has commanded a move in the proper direction.
  CHANGELOG.md
  src/Main.cpp
Due: docker-validate-changelog, docker-clang-format, docker-cpplint, docker-piocheck

modified BLE_simulateTargetWatts and implemeted write feature for simulateTargetWatts
  src/BLE_Custom_Characteristic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Added Life Fitness ICG8
  CHANGELOG.md
  Hardware/Common Assets/Arm/readme.md
  Hardware/Common Assets/Bike Mount/CAD/Life Fitness IC7.f3d
  Hardware/Common Assets/Bike Mount/Life Fitness IC8.step
  Hardware/Common Assets/Inserts/Design_Reference_Photos/Life_Fitness_ICG8/Head_Tube.jpg
  Hardware/Common Assets/Inserts/Design_Reference_Photos/Life_Fitness_ICG8/Head_Tube2.jpg
  Hardware/Common Assets/Inserts/Design_Reference_Photos/Life_Fitness_ICG8/Head_Tube3.jpg
  Hardware/Common Assets/Inserts/Design_Reference_Photos/Life_Fitness_ICG8/Knob.jpg
  Hardware/Common Assets/Inserts/Design_Reference_Photos/Life_Fitness_ICG8/knob2.jpg
  Hardware/Common Assets/Inserts/Life_Fitness_ICG8.STEP
  Hardware/Common Assets/Inserts/Solidworks_Designs/Life_Fitness_ICG8.SLDPRT
Due: docker-validate-changelog

changed font for better printability
  Hardware/Common Assets/Inserts/Life_Fitness_ICG8.STEP
  Hardware/Common Assets/Inserts/Solidworks_Designs/Life_Fitness_ICG8.SLDPRT
  Hardware/Common Assets/Inserts/Solidworks_Designs/~$Life_Fitness_ICG8.SLDPRT
Due: none

set target watts to 0 and target watts simulate to false when ERG mode is not running.
  src/BLE_Fitness_Machine_Service.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

parameter alignment
  CHANGELOG.md
  data/bluetoothscanner.html
  data/settings.html
  src/HTTP_Server_Basic.cpp
Due: docker-validate-changelog, docker-clang-format, docker-cpplint, docker-piocheck

Initial Gear UI Commit
  CHANGELOG.md
  include/BLE_Common.h
  include/BLE_Wattbike_Service.h
  lib/SS2K/include/Constants.h
  src/BLE_Server.cpp
  src/BLE_Wattbike_Service.cpp
Due: docker-validate-changelog, docker-clang-format, docker-cpplint, docker-piocheck

Instant shift notifications
  include/BLE_Common.h
  src/BLE_Custom_Characteristic.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Cleaned up targetPosition to make it easier to understand.
  .github/workflows/update-changelog.yml
  CHANGELOG.md
  include/Main.h
  include/SmartSpin_parameters.h
  src/BLE_Client.cpp
  src/BLE_Custom_Characteristic.cpp
  src/ERG_Mode.cpp
  src/Main.cpp
  src/SensorCollector.cpp
  src/SmartSpin_parameters.cpp
Due: docker-validate-changelog, docker-clang-format, docker-cpplint, docker-piocheck

Update changelog for version 24.10.30
  CHANGELOG.md
Due: docker-validate-changelog

Update update-changelog.yml
  .github/workflows/update-changelog.yml
Due: none

Initial Test - works on power up
  include/Main.h
  include/SmartSpin_parameters.h
  src/ERG_Mode.cpp
  src/Main.cpp
  src/SmartSpin_parameters.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

progress
  include/BLE_Custom_Characteristic.h
  include/Main.h
  include/SmartSpin_parameters.h
  src/BLE_Custom_Characteristic.cpp
  src/BLE_Fitness_Machine_Service.cpp
  src/Main.cpp
  src/SmartSpin_parameters.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

more progress on homing
  include/BLE_Common.h
  include/BLE_Fitness_Machine_Service.h
  include/Main.h
  src/BLE_Client.cpp
  src/BLE_Fitness_Machine_Service.cpp
  src/ERG_Mode.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

more testing and changes
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Error fix
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

added comments
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Increased homing speed a touch
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

set homed so we don't everwrite the limits
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Added overrides to disreguard Peloton resistace if homing has been preformed.
  src/ERG_Mode.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

added comments
  include/BLE_Custom_Characteristic.h
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Fixed logic error in shift blocking
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

If table was created when homed, skip calculating offsets
  include/settings.h
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

homing reset when settings cleared and when powertable reset.
  include/SmartSpin_parameters.h
  src/ERG_Mode.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

updated changelog
  CHANGELOG.md
  README.md
Due: docker-validate-changelog

fixed homing not being cleared when ptab reset
  src/ERG_Mode.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

fixed ptab reset
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

adjusted speed and sensitivity
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Update changelog for version 24.11.5
  CHANGELOG.md
Due: docker-validate-changelog

Added a couple safety features to homing
  CHANGELOG.md
  src/Main.cpp
Due: docker-validate-changelog, docker-clang-format, docker-cpplint, docker-piocheck

Homing refinements
  CHANGELOG.md
  src/Main.cpp
  src/SensorCollector.cpp
Due: docker-validate-changelog, docker-clang-format, docker-cpplint, docker-piocheck

Update changelog for version 24.11.7
  CHANGELOG.md
Due: docker-validate-changelog

multiple homing refinements
  CHANGELOG.md
  include/settings.h
  platformio.ini
  src/BLE_Common.cpp
  src/Main.cpp
Due: docker-validate-changelog, docker-clang-format, docker-cpplint, docker-piocheck

Update BLE_Fitness_Machine_Service.cpp
  src/BLE_Fitness_Machine_Service.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Path conditions:
  docker-validate-changelog: any of: CHANGELOG\.md$, but not: (\.pio|lib/NimBLE-Arduino)/.*
  docker-clang-format: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
  docker-cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
  docker-piocheck: any of: \.(c|cc|cpp|cu|c\+\+|cxx|tpp|txx|ino)$, but not: (\.pio|lib/NimBLE-Arduino)/.*
