Repository posssson/SmartSpin2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-validate-changelog, docker-clang-format, docker-cpplint, docker-piocheck

.pre-commit-config.yaml:

exclude: (\.pio|lib/NimBLE-Arduino)/.*
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.9
    hooks:
      - id: insert-license
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args:
          - --license-filepath
          - license_header.txt
          - --comment-style
          - /*| *| */
  - repo: local
    hooks:
      - id: docker-validate-changelog
        name: validate-changelog
        description: Validate the `CHANGELOG.md` file
        files: CHANGELOG\.md$
        pass_filenames: false
        language: docker_image
        entry: kadaan/parse_a_changelog:latest
      - id: docker-clang-format
        name: clang-format
        description: Run `clang-format` against C/C++ header and source files in Docker container
        language: docker_image
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        entry: daverona/pre-commit-cpp:0.8.0 clang-format -i -style=file
      - id: docker-cpplint
        name: cpplint
        description: Run `cpplint` against C/C++ header and source files in Docker container
        language: docker_image
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        entry: daverona/pre-commit-cpp:0.8.0 cpplint
      - id: docker-piocheck
        name: piocheck
        description: Run `pio check` against C/C++ source files in Docker container
        language: docker_image
        files: \.(c|cc|cpp|cu|c\+\+|cxx|tpp|txx|ino)$
        pass_filenames: false
        entry: kadaan/platformio_esp32:latest check

Changelog update
  CHANGELOG.md
  include/BLE_Fitness_Machine_Service.h
  src/BLE_Client.cpp
  src/BLE_Fitness_Machine_Service.cpp
  src/Main.cpp
Due: docker-validate-changelog, docker-clang-format, docker-cpplint, docker-piocheck

Update Main.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Added Sunny B1805
  CHANGELOG.md
  Hardware/Common Assets/Arm/readme.md
  Hardware/Common Assets/Inserts/Design_Reference_Photos/Sunny_B1805/Combined.webp
  Hardware/Common Assets/Inserts/Solidworks_Designs/Sunny_B1805.SLDPRT
  Hardware/Common Assets/Inserts/Sunny_B1805.STEP
Due: docker-validate-changelog

Update changelog for version 24.11.10
  CHANGELOG.md
Due: docker-validate-changelog

- PowerTable Import via Custom Characteristic fixed.
  CHANGELOG.md
  src/BLE_Custom_Characteristic.cpp
Due: docker-validate-changelog, docker-clang-format, docker-cpplint, docker-piocheck

Check for cadence also so that we don't home when nobody is around.
  CHANGELOG.md
  src/BLE_Client.cpp
  src/Main.cpp
Due: docker-validate-changelog, docker-clang-format, docker-cpplint, docker-piocheck

Update CHANGELOG.md
  CHANGELOG.md
Due: docker-validate-changelog

Update changelog for version 24.11.16
  CHANGELOG.md
Due: docker-validate-changelog

updated dimensions
  Hardware/Common Assets/Inserts/Solidworks_Designs/Sunny_B1805.SLDPRT
  Hardware/Common Assets/Inserts/Sunny_B1805.STEP
Due: none

added ring holder to Peloton
  CHANGELOG.md
  Hardware/Common Assets/Bike Mount/CAD/Peloton.f3d
  Hardware/Common Assets/Bike Mount/Peloton.step
  Hardware/Common Assets/Bike Mount/Peloton.stl
Due: docker-validate-changelog

Update changelog for version 24.11.25
  CHANGELOG.md
Due: docker-validate-changelog

Added o-ring clips for IC4
  Hardware/Common Assets/Bike Mount/CAD/IC4 Mount.AD_PRT
  Hardware/Common Assets/Bike Mount/CAD/IC4 Mount.step
  Hardware/Common Assets/Bike Mount/CAD/IC4 Mount.stp
  Hardware/Common Assets/Bike Mount/IC4 Mount.stl
  Hardware/Common Assets/Bike Mount/IC4 Mount.stp
Due: none

Added Homing Sensitivity
  Hardware/Common Assets/Bike Mount/CAD/IC4 Mount.AD_PRT
  include/BLE_Custom_Characteristic.h
  include/SmartSpin_parameters.h
  include/settings.h
  src/BLE_Custom_Characteristic.cpp
  src/Main.cpp
  src/SmartSpin_parameters.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

updated Changelog
  CHANGELOG.md
  Hardware/Common Assets/Inserts/Peloton_62.5mm.stl
  Hardware/Common Assets/Inserts/Peloton_7_flat.STEP
  Hardware/Common Assets/Inserts/Solidworks_Designs/Peloton_60mm.SLDPRT
  Hardware/Common Assets/Inserts/Solidworks_Designs/Peloton_7_flat.SLDPRT
  README.md
Due: docker-validate-changelog

updated changelog.md
  CHANGELOG.md
Due: docker-validate-changelog

updated changelog
  CHANGELOG.md
Due: docker-validate-changelog

Fixes not shifting after powertable has been deleted (without Cadence)
  CHANGELOG.md
  src/ERG_Mode.cpp
  src/Main.cpp
Due: docker-validate-changelog, docker-clang-format, docker-cpplint, docker-piocheck

Update changelog for version 24.12.7
  CHANGELOG.md
Due: docker-validate-changelog

added comment
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Added Dmasun
  CHANGELOG.md
  Hardware/Common Assets/Arm/readme.md
  Hardware/Common Assets/Inserts/Design_Reference_Photos/Dmasun/Side.jpeg
  Hardware/Common Assets/Inserts/Design_Reference_Photos/Dmasun/Top.jpeg
  Hardware/Common Assets/Inserts/Dmasun.STEP
  Hardware/Common Assets/Inserts/Solidworks_Designs/Dmasun.SLDPRT
Due: docker-validate-changelog

Update changelog for version 24.12.8
  CHANGELOG.md
Due: docker-validate-changelog

added Equinox Soul Cycle
  CHANGELOG.md
  Hardware/Common Assets/Arm/readme.md
  Hardware/Common Assets/Inserts/Design_Reference_Photos/SoulCycle/Top1.jpeg
  Hardware/Common Assets/Inserts/Design_Reference_Photos/SoulCycle/side1.jpeg
  Hardware/Common Assets/Inserts/Design_Reference_Photos/SoulCycle/top2.jpeg
  Hardware/Common Assets/Inserts/Equinox_Soul_Cycle.STEP
  Hardware/Common Assets/Inserts/Solidworks_Designs/Equinox_Soul_Cycle.SLDPRT
Due: docker-validate-changelog

updated Dmasun Dimensions
  Hardware/Common Assets/Gears/CAD/SS2K 40T Mod1 Spur Gear.SLDPRT
  Hardware/Common Assets/Gears/CAD/Spur gear 1M 40T Hex.SLDPRT
  Hardware/Common Assets/Gears/SS2K 40T Mod1 Spur Gear.STEP
  Hardware/Common Assets/Inserts/Design_Reference_Photos/Dmasun/Side.jpeg
  Hardware/Common Assets/Inserts/Design_Reference_Photos/Dmasun/Top.jpeg
  Hardware/Common Assets/Inserts/Dmasun.STEP
  Hardware/Common Assets/Inserts/Solidworks_Designs/Dmasun.SLDPRT
Due: none

Fix IC bike SE showing only zeroes
  .gitignore
  src/BLE_Client.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

joroto x2 update
  .gitignore
  CHANGELOG.md
  Hardware/Common Assets/Bike Mount/Joroto X2.step
  Hardware/Common Assets/Inserts/JOROTOX2_60.5mm.STEP
  Hardware/Common Assets/Inserts/JOROTOX2_60mm.STL
  Hardware/Common Assets/Inserts/JOROTOX2_61mm.STL
  Hardware/Common Assets/Inserts/Solidworks_Designs/JOROTOX2_60.5mm.SLDPRT
Due: docker-validate-changelog

Added SOLE
  CHANGELOG.md
  Hardware/Common Assets/Arm/readme.md
  Hardware/Common Assets/Inserts/Design_Reference_Photos/Sole SB700/Sole SB700 All Views.pdf
  Hardware/Common Assets/Inserts/Sole SB700.STEP
  Hardware/Common Assets/Inserts/Solidworks_Designs/Sole SB700.SLDPRT
Due: docker-validate-changelog

Create Spur gear 1M 11T.STEP
  Hardware/Common Assets/Gears/Spur gear 1M 11T.STEP
Due: none

Tested for issues, and updated changelog.md
  .gitignore
  CHANGELOG.md
Due: docker-validate-changelog

updated main readme.md
  README.md
Due: none

Update changelog for version 25.1.10
  CHANGELOG.md
Due: docker-validate-changelog

Update changelog for version 25.1.12
  CHANGELOG.md
Due: docker-validate-changelog

All New HTML Files!
  CHANGELOG.md
  data/bluetoothscanner.html
  data/btsimulator.html
  data/develop.html
  data/hrtowatts.html
  data/index.html
  data/settings.html
  data/shift.html
  data/status.html
  data/streamfit.html
  data/style.css
Due: docker-validate-changelog

stepperspeed bugfix
  CHANGELOG.md
  src/Main.cpp
Due: docker-validate-changelog, docker-clang-format, docker-cpplint, docker-piocheck

Update changelog for version 25.1.19
  CHANGELOG.md
Due: docker-validate-changelog

removed motorStop() method
  include/Main.h
  src/ERG_Mode.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck
