Repository posssson/SmartSpin2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-validate-changelog, docker-clang-format, docker-cpplint, docker-piocheck

.pre-commit-config.yaml:

exclude: (\.pio|lib/NimBLE-Arduino)/.*
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.9
    hooks:
      - id: insert-license
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args:
          - --license-filepath
          - license_header.txt
          - --comment-style
          - /*| *| */
  - repo: local
    hooks:
      - id: docker-validate-changelog
        name: validate-changelog
        description: Validate the `CHANGELOG.md` file
        files: CHANGELOG\.md$
        pass_filenames: false
        language: docker_image
        entry: kadaan/parse_a_changelog:latest
      - id: docker-clang-format
        name: clang-format
        description: Run `clang-format` against C/C++ header and source files in Docker container
        language: docker_image
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        entry: daverona/pre-commit-cpp:0.8.0 clang-format -i -style=file
      - id: docker-cpplint
        name: cpplint
        description: Run `cpplint` against C/C++ header and source files in Docker container
        language: docker_image
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        entry: daverona/pre-commit-cpp:0.8.0 cpplint
      - id: docker-piocheck
        name: piocheck
        description: Run `pio check` against C/C++ source files in Docker container
        language: docker_image
        files: \.(c|cc|cpp|cu|c\+\+|cxx|tpp|txx|ino)$
        pass_filenames: false
        entry: kadaan/platformio_esp32:latest check

fixed bug in loading
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

fixed lookup function
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Long overdue. Added the Device Information Service.
  include/BLE_Device_Information_Service.h
  lib/SS2K/include/Constants.h
  src/BLE_Device_Information_Service.cpp
  src/BLE_Server.cpp
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

fixed bug in FTMS flags
  include/BLE_Definitions.h
  src/BLE_Fitness_Machine_Service.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

led astray by the .xml FTMS spec
  include/BLE_Definitions.h
Due: docker-clang-format, docker-cpplint

Connected clients must be zero.
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Memory Optimization. Fixed potential BLE scanning Crash.
  include/settings.h
  src/BLE_Client.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

fixes #559
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Don't set Stepper Min/Max when no Cadence
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

removed no longer necessary scan stop() code
  src/BLE_Server.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

removed comment
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

fixed some code spacing
  src/ERG_Mode.cpp
  src/SensorCollector.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Amend always option to git describe
  git_tag_macro.py
Due: none

fixed a potential bug in resistance mode.
  src/ERG_Mode.cpp
  src/Main.cpp
  src/SensorCollector.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Add Changelog changes
  CHANGELOG.md
  git_tag_macro.py
Due: docker-validate-changelog

Cadence oob lookups will use table edges for interpolation
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

increased default stepper speed
  include/settings.h
Due: docker-clang-format, docker-cpplint

prevent table returns from going in the wrong direction
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

cleaned up some variable types
  include/ERG_Mode.h
  include/SmartSpin_parameters.h
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

added better description for how to use the custom characteristic
  src/BLE_Custom_Characteristic.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

removed extra logging when loading table
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

updated changelog
  CHANGELOG.md
Due: docker-validate-changelog

fixed a wrap around comment
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

fixed bug with stepper speed not updating
  CHANGELOG.md
  src/Main.cpp
Due: docker-validate-changelog, docker-clang-format, docker-cpplint, docker-piocheck

updated "Contributing" directions
  CHANGELOG.md
  README.md
  src/Main.cpp
Due: docker-validate-changelog, docker-clang-format, docker-cpplint, docker-piocheck

New Peloton travel limit code
  CHANGELOG.md
  include/Main.h
  src/Main.cpp
Due: docker-validate-changelog, docker-clang-format, docker-cpplint, docker-piocheck

added peloton connected flag
  include/Main.h
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

moved the shift mode modifier back
  .DS_Store
  .gitignore
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Added Stryde Bike
  CHANGELOG.md
  Hardware/Common Assets/Arm/readme.md
  Hardware/Common Assets/Inserts/Solidworks_Designs/Stryde_Combine.SLDDRW
  Hardware/Common Assets/Inserts/Solidworks_Designs/Stryde_Combine.SLDPRT
  Hardware/Common Assets/Inserts/Stryde_Combine.STEP
  include/Main.h
  src/Main.cpp
Due: docker-validate-changelog, docker-clang-format, docker-cpplint, docker-piocheck

Fixed formatting
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

fixed another One Drive induced problem
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Removed checking for subscriptions before calculating changes.
  CHANGELOG.md
  src/BLE_Cycling_Power_Service.cpp
  src/BLE_Cycling_Speed_Cadence.cpp
  src/BLE_Fitness_Machine_Service.cpp
  src/BLE_Heart_Service.cpp
  src/BLE_Server.cpp
Due: docker-validate-changelog, docker-clang-format, docker-cpplint, docker-piocheck

Erg_Mode, Stepper and HTTP_Server_Consolidated.
  CHANGELOG.md
  include/ERG_Mode.h
  include/HTTP_Server_Basic.h
  include/Main.h
  include/settings.h
  src/BLE_Setup.cpp
  src/ERG_Mode.cpp
  src/HTTP_Server_Basic.cpp
  src/Main.cpp
Due: docker-validate-changelog, docker-clang-format, docker-cpplint, docker-piocheck

consolidated blecomm
  CHANGELOG.md
  include/BLE_Common.h
  include/settings.h
  src/BLE_Client.cpp
  src/BLE_Common.cpp
  src/BLE_Setup.cpp
  src/ERG_Mode.cpp
  src/HTTP_Server_Basic.cpp
  src/Main.cpp
Due: docker-validate-changelog, docker-clang-format, docker-cpplint, docker-piocheck

Updated baud rate for compatibility with other ESP32 variants
  CHANGELOG.md
  platformio.ini
  src/Main.cpp
Due: docker-validate-changelog, docker-clang-format, docker-cpplint, docker-piocheck

removed .DS_Store
  .DS_Store
Due: none

added target watts read and write
  .idea/.gitignore
  .idea/SmartSpin2k.iml
  .idea/libraries/GERBER_SmartSpin2k.xml
  .idea/libraries/GERBER_SmartSpin2k_Panelized.xml
  .idea/libraries/SmartSpin2k_Panelized_backups.xml
  .idea/libraries/SmartSpin2k_backups.xml
  .idea/libraries/Universal_Board_Side_Mount_2020_12_20.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  include/BLE_Custom_Characteristic.h
  platformio.ini
  src/BLE_Custom_Characteristic.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Delete .idea/.gitignore
  .idea/.gitignore
Due: none

Delete .idea/SmartSpin2k.iml
  .idea/SmartSpin2k.iml
Due: none
