Repository posssson/SmartSpin2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-validate-changelog, docker-clang-format, docker-cpplint, docker-piocheck

.pre-commit-config.yaml:

exclude: (\.pio|lib/NimBLE-Arduino)/.*
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.9
    hooks:
      - id: insert-license
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args:
          - --license-filepath
          - license_header.txt
          - --comment-style
          - /*| *| */
  - repo: local
    hooks:
      - id: docker-validate-changelog
        name: validate-changelog
        description: Validate the `CHANGELOG.md` file
        files: CHANGELOG\.md$
        pass_filenames: false
        language: docker_image
        entry: kadaan/parse_a_changelog:latest
      - id: docker-clang-format
        name: clang-format
        description: Run `clang-format` against C/C++ header and source files in Docker container
        language: docker_image
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        entry: daverona/pre-commit-cpp:0.8.0 clang-format -i -style=file
      - id: docker-cpplint
        name: cpplint
        description: Run `cpplint` against C/C++ header and source files in Docker container
        language: docker_image
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        entry: daverona/pre-commit-cpp:0.8.0 cpplint
      - id: docker-piocheck
        name: piocheck
        description: Run `pio check` against C/C++ source files in Docker container
        language: docker_image
        files: \.(c|cc|cpp|cu|c\+\+|cxx|tpp|txx|ino)$
        pass_filenames: false
        entry: kadaan/platformio_esp32:latest check

updated speeds
  include/settings.h
Due: docker-clang-format, docker-cpplint

Update to compile and to turn (speed)
  platformio.ini
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Fix bin settings
  include/settings.h
Due: docker-clang-format, docker-cpplint

Change passw
  include/settings.h
Due: docker-clang-format, docker-cpplint

LIttle fix
  include/settings.h
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Fix param
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Fix erg mode
  src/BLE_Server.cpp
  src/Main.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Update README.md
  README.md
Due: none

Replaced outdated wiki banner with new banner.
  Pictures/ss2k_banner.png
  Pictures/ss2k_wiki_banner.png
  Pictures/ss2k_wiki_banner.xcf
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: docker-validate-changelog

Minor ERG mode fix.
  CHANGELOG.md
  platformio.ini
  src/ERG_Mode.cpp
Due: docker-validate-changelog, docker-clang-format, docker-cpplint, docker-piocheck

fixed typing error
  platformio.ini
Due: none

Tightened up tolerances on the case. Made the Stepper supports more secure.
  CHANGELOG.md
  Hardware/V3 - Integrated PCB/Case/Case/Body_Left.STL
  Hardware/V3 - Integrated PCB/Case/Case/Body_Right.STL
  Hardware/V3 - Integrated PCB/Case/Case/CAD/Body_Drawing.SLDPRT
  Hardware/V3 - Integrated PCB/Case/Case/CAD/Body_Drawing_Left.SLDPRT
  Hardware/V3 - Integrated PCB/Case/Case/CAD/Body_Drawing_Left.STEP
  Hardware/V3 - Integrated PCB/Case/Case/CAD/Body_Drawing_Right.SLDPRT
  Hardware/V3 - Integrated PCB/Case/Case/CAD/Body_Drawing_Right.STEP
Due: docker-validate-changelog

Fixed motor width equation in drawing
  Hardware/V3 - Integrated PCB/Case/Case/Body_Left.STL
  Hardware/V3 - Integrated PCB/Case/Case/Body_Right.STL
  Hardware/V3 - Integrated PCB/Case/Case/CAD/Body_Drawing.SLDPRT
  Hardware/V3 - Integrated PCB/Case/Case/CAD/Body_Drawing_Left.SLDPRT
  Hardware/V3 - Integrated PCB/Case/Case/CAD/Body_Drawing_Left.STEP
  Hardware/V3 - Integrated PCB/Case/Case/CAD/Body_Drawing_Right.SLDPRT
  Hardware/V3 - Integrated PCB/Case/Case/CAD/Body_Drawing_Right.STEP
Due: none

finalized JLL hardware
  Hardware/Common Assets/Inserts/JLL-IC400.STL
  Hardware/Common Assets/Inserts/Solidworks_Designs/JLL-IC400.SLDPRT
  platformio.ini
Due: none

updated changelog
  CHANGELOG.md
Due: docker-validate-changelog

Initial Testing
  .vscode/settings.json
  include/ERG_Mode.h
  include/settings.h
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

implemented saving BIG_TABLE
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Functionally working
  include/settings.h
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Fixed int rounding error
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

interfacing table with app
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/SmartSpin2k-backups/SmartSpin2k-2022-10-31_213230.zip
  include/Custom_Characteristic.h
  include/ERG_Mode.h
  include/Main.h
  src/Custom_Characteristic.cpp
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Drivetrain mod
  Hardware/V3 - Integrated PCB/Case/Case/Body_Left.STL
  Hardware/V3 - Integrated PCB/Case/Case/Body_Right.STL
  Hardware/V3 - Integrated PCB/Case/Case/CAD/Body_Drawing.SLDPRT
  Hardware/V3 - Integrated PCB/Case/Case/CAD/Body_Drawing_Left.SLDPRT
  Hardware/V3 - Integrated PCB/Case/Case/CAD/Body_Drawing_Left.STEP
  Hardware/V3 - Integrated PCB/Case/Case/CAD/Body_Drawing_Right.SLDPRT
  Hardware/V3 - Integrated PCB/Case/Case/CAD/Body_Drawing_Right.STEP
Due: none

Working with app
  Hardware/V3 - Integrated PCB/PCB/SS2K_KiCad_Files/SmartSpin2k.kicad_prl
  include/BLE_Common.h
  include/ERG_Mode.h
  include/settings.h
  platformio.ini
  src/Custom_Characteristic.cpp
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

clamping cadence for powerbuffer entries
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Yoke improvement, readme additions
  CHANGELOG.md
  Hardware/Common Assets/Arm/readme.md
  Hardware/Common Assets/Bike Mount/CAD/SS2K_Yoke.scad
  Hardware/Common Assets/Bike Mount/readme.md
Due: docker-validate-changelog

Update readme.md
  Hardware/Common Assets/Bike Mount/readme.md
Due: none

Fixing Wahoo CPS
  include/BLE_Common.h
  include/BLE_Cycling_Speed_Cadence.h
  include/BLE_Definitions.h
  include/cert.h
  lib/SS2K/include/Constants.h
  platformio.ini
  src/BLE_Common.cpp
  src/BLE_Cycling_Speed_Cadence.cpp
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Cleaning up BLE_Server.cpp
  include/BLE_Common.h
  include/BLE_Cycling_Power_Service.h
  include/BLE_Heart_Service.h
  src/BLE_Cycling_Power_Service.cpp
  src/BLE_Cycling_Speed_Cadence.cpp
  src/BLE_Heart_Service.cpp
  src/BLE_Server.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

Updated Changelog, Finished refactor
  CHANGELOG.md
  include/BLE_Common.h
  include/BLE_Custom_Characteristic.h
  include/BLE_Fitness_Machine_Service.h
  src/BLE_Common.cpp
  src/BLE_Custom_Characteristic.cpp
  src/BLE_Firmware_Update.cpp
  src/BLE_Fitness_Machine_Service.cpp
  src/BLE_Server.cpp
  src/BLE_Setup.cpp
  src/HTTP_Server_Basic.cpp
  src/Main.cpp
Due: docker-validate-changelog, docker-clang-format, docker-cpplint, docker-piocheck

Depreciated the SPIFFS->LittleFS upgrader
  CHANGELOG.md
  include/LittleFS_Upgrade.h
  include/Main.h
  src/LittleFS_Upgrade.cpp
  src/Main.cpp
Due: docker-validate-changelog, docker-clang-format, docker-cpplint, docker-piocheck

Major Big_Table rework
  include/ERG_Mode.h
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

remove BLE RX Logging
  data/settings.html
Due: none

Major Big_Table rework
  include/BLE_Custom_Characteristic.h
  include/ERG_Mode.h
  src/BLE_Custom_Characteristic.cpp
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

incremented table version
  include/settings.h
Due: docker-clang-format, docker-cpplint

changed requirements for table loading
  CHANGELOG.md
  src/ERG_Mode.cpp
Due: docker-validate-changelog, docker-clang-format, docker-cpplint, docker-piocheck

removed some code redundancy
  include/ERG_Mode.h
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

work on testNeighbors()
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck

fixed bottom neighbor mis compare
  src/ERG_Mode.cpp
Due: docker-clang-format, docker-cpplint, docker-piocheck
